*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.header{
    background: rgb(249, 248, 248);
    padding: 4px;
    margin:0;

}

.header_logo a {
    color: black;
    text-decoration: none;
    display: flex;
    padding: 2px;
    font-size: 30px;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width:768px){
    .header_logo a{
        font-size: 24px; 
    }  
}
@media(max-width:400px){
    .header_logo a{
        font-size: 17px; 
    }
}

.header_search{
    display: flex;
    justify-content:center;
    padding: 10px 13px;
    height: 55px; 
}


.header_search input[type="search"]{
    border: 2px solid rgb(22, 218, 22);
    outline: none;
    border-radius: 7px 0 0 7px;
    width: 180px;
}
.header_search input[type="search"]:hover{
    border: 2px solid rgb(29, 230, 14);
    background-color: rgb(230, 241, 230);

}
.header_search .search{
    width:80px;
    border:0px solid black;
    border-radius: 0 7px 7px 0;
    background-color: rgb(14, 210, 40);
    overflow: hidden;
    
}
.header_search .search:hover{
    background-color: rgb(23, 145, 23);
    color: rgb(255, 255, 255);

}
@media(max-width:768px){
    .header_search input[type="search"]{
        width:180px;
        display: flex;
        justify-content: center;
        padding: 9px;
        height: 30px;
        margin-top:-7px;
    }
}
@media(max-width:768px){
    .header_search [type="submit"]{
        width:60px;
        height: 30px;  
        margin-top:-7px;
    }
}
@media(max-width:400px){
    .header_search input[type="search"]{
        width:80px;
        display: flex;
        justify-content:center;
        padding: 9px;
        height: 25px;
        margin-top:-6px;
        

    }
}
@media(max-width:400px){
    .header_search [type="submit"]{
        width:40px;
        height: 25px;  
        margin-top:-6px;

    }
}


.header_signin_out{
    display:flex;
    justify-content: right;
    text-decoration: none;

}
.sign_in_button{
    padding:8px;
    margin: 6px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 5px rgb(29, 30, 29);
    font-weight: 600;

}

.sign_in_button:hover{
    background-color: rgb(206, 240, 206);
    color: rgb(0, 0, 255);
    text-decoration: underline;
}
.sign_in_up_button{
    padding : 8px;
    margin: 6px;
    text-decoration: none;
    background-color: #10de1e;
    border: 1px solid rgb(6, 242, 92);
    border-radius: 3px;
    color: black;
    box-shadow: 2px 2px 5px black;
    font-weight: 600;
}
.sign_in_up_button:hover{
    background-color: rgb(6, 104, 32);
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
@media(max-width:768px){
    .sign_in_button{
        padding:6px;
        margin:6px;
        margin-top:-15px;
        margin-bottom:43px;
        margin-right:3px;
        text-decoration: none;
        border-radius: 3px;
        color: rgb(15, 29, 215);
        font-weight: 600;
    }
}
@media(max-width:400px){
    .sign_in_button{
        padding:2px;
        margin:2px;
        margin-top:-40px;
        margin-bottom:60px;
        margin-right:-35px;
        text-decoration: none;
        border-radius: 3px;
        color: rgb(51, 12, 243);
        font-weight: 600;
    }}
.navbar{
    display: flex;
    
    gap: 0;  
    padding: 10px;
    margin: 10px;
    width: 80%;
    position: sticky;
    top:10px;
    z-index: 100;
}
.navbar ul{
    display: flex;
    gap: 15px;
    list-style: none;
    width:100%;
    justify-content: center;

    
}
.navbar ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    overflow: hidden;
    transition:transform 0.3s ease;

}
.navbar ul li a:hover{
    transform: scale(1.1);

    background-color: rgb(0, 255, 34);
    color: #ffffff;
    border: 0px solid black;
    box-shadow: 1px 2px 3px rgb(26, 121, 22);
}

.products ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.products li {
    text-align: center;
    border: 0px solid rgb(126, 123, 123);
 
}

.products li:hover{
    box-shadow: 1px 2px 9px rgb(50, 49, 49);
}

.products img {
    height: 190px;
    width: auto;
    text-align: center;  
    border: 1px solid #ffffff; 
}

.products img:hover{
    border: 1px solid #d4cdcd;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.products p{
    color:rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.prize{  
    display: flex;
    justify-content: left;
    
    
}

.new_price{
    font-size: 18px;
    margin-top: 4px;
}

.old_price{
    text-decoration:line-through;
    font-size: 15px;
    margin-top: 9px;
    margin-left: 2px;  
}

.products p.rating{
    display:flex;
    justify-content:right;
    font-size: 15px;
    margin-right: 4px;
    margin-bottom: 8px;
}

.cart{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.products .Add_to_cart{
    text-decoration: none;
    border: 1px solid rgb(18, 199, 45);
    padding: 7px;
    margin: 1%;
    color: #050505;
    background-color: rgb(250, 248, 248);
    border-radius: 3px;
}

.products .Add_to_cart:hover{
    background-color: #1c9824;
    color: #ffffff;
    font-weight: 800;
}

.products .View_Details{
    text-decoration: none;
    border: 1px solid rgb(18, 199, 45);
    padding: 4px;
    margin: 2px;
    color: #050505;
    background-color: rgb(250, 248, 248);
    border-radius: 3px;
}

.products .View_Details:hover{
    background-color: #dbeedd;
    color: #0416dd;
    font-weight: 800;
    text-decoration:underline;
}
